# Prevent users from accessing the server directories.
Options -Indexes

# Redirect to https.
RewriteEngine On 
RewriteCond %{HTTPS} !=on 
RewriteRule ^/?(.*) https://nicholas-chavez.com [R,L]

# Remove .html file extension from the URL.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# Rewrite index page to be simply the domain.
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

#Custom error messages for 404 and 403 errors
ErrorDocument 404 /errors/not-found.html
ErrorDocument 403 /errors/forbidden.html

#Remove PHP Error messages.

#php_flag display_startup_errors off
#php_flag display_errors off
#php_flag html_errors off
#php_flag log_errors on
#php_flag ignore_repeated_errors off
#php_flag ignore_repeated_source off
#php_flag report_memleaks on
#php_flag track_errors on
#php_value docref_root 0
#php_value docref_ext 0
#php_value error_log /home/path/public_html/domain/PHP_errors.log
#php_value error_reporting -1
#php_value log_errors_max_len 0

#Disable ETAG so the webpages don't get cached.
FileETag None
<ifModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>